.signup-button {
    margin-right: 40px;
    border: none;
    color: #f47650;
    font-size: 17px;
    font-weight: 550;
    background-color: white;
    cursor: pointer;
    font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

.signup-button:hover {
    color: #FFC49D
}

.signup-form-container {
    font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    color: #f47650;
}

.signup-form {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.signup-errors {
    font-size: .975rem;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
    color: #f47650;
    margin-left: 20%;
}

.signup-form-title {
    margin-left: 20%;
    font-size: 13px;
    font-weight: 600;
}

.signup-form-input {
    margin-left: 20%;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(230 230 230);
    border-width: 1px;
}

.signup-form-input:hover {
    border: 1px solid #31313E;
}

.signup-form-button-container {
    display: flex;
    justify-content: space-evenly;
}

.signup-form-button {
    border: 1px solid #f47650;
    border-radius: 5px;
    background-color: white;
    color: #f47650;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 40px;
}

.signup-form-button:hover {
    color: #31313E;
    border: 1px solid #31313E;
}