.logout-button {
    border: 1px solid #f47650;
    border-radius: 5px;
    color: #f47650;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    padding: 10px 40px;
}

.logout-button:hover {
    color: #31313E;
    border: 1px solid #31313E;
}
