.sidebar-dog {
    border: solid
}

.sidebar-dog>img {
    height: 80px;
    width: 80px;
    background-size: cover;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar-date-entry-container {
    border: solid blue;
}

.sidebar-date-entry {}

.sidebar-date-entry:hover {
    background-color: #FFC49D;
}

.sidebar-date-entry>img {
    height: 50px;
    width: 50px;
    background-size: cover;
}